.claude
.cursor
.vscode
.vs

node_modules/
**/node_modules/
.ralph-tui
obj/
bin/
*.user
*.suo
*.log
*.tmp
*.cache
*.DS_Store
*.env
.env.*.local
**/dist/
**/.angular/
**/coverage/
**/bin/
**/obj/
**/TestResults/
