@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff8c00;
  --color-primary-light: #ffd700;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
